{% load static %}
<html>
<head>
   <title>{% block title %}{% endblock title %}</title>
   <!-- Latest compiled and minified CSS -->
   <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="icon" type="image/x-icon" href="brp.ico">
   <link rel="stylesheet" href="{% static 'brpapp/css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="service.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}
 
   <footer>
     
         <p class="social">
        <a href="https://facebook.com/iambrp.tech" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="https://www.linkedin.com/in/bishworajpoudelofficial/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/bishworajpoudelofficial" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a>

    </p>

    <p class="text-black-50" style="text-align: center;"> Copyright © 2024 Bishworaj Poudel</p>

   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 

</body>

</html>


