{% extends "brpapp/base.html" %}

{% block title %}Service{% endblock title %}

{% block content %}
<h1>Service</h1>
<div class="row">
    <!-- Card 1: Online Class -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Online Class</h5>
                <p class="card-text">We offer interactive online classes on a wide range of IT topics to help you stay ahead in the tech world.</p>
            </div>
        </div>
    </div>

    <!-- Card 2: App Development -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h5 class="card-title">App Development</h5>
                <p class="card-text">Our expert team develops mobile applications for Android and iOS platforms, tailored to your needs.</p>
            </div>
            
        </div>
    </div>

    <!-- Card 3: Tech Consult -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Tech Consult</h5>
                <p class="card-text">We provide personalized technical consulting services to help your business grow with innovative solutions.</p>
            </div>
            
        </div>
    </div>
  </div>  


<p id="info">
    If you have any questions, feel free to contact me at info@brp.com.np
</p>
{% endblock content %}